{% if sansible_ssmtp_revaliases == true %}
{% for user in sansible_ssmtp_revaliases_users %}
{{ user }}:{{ sansible_ssmtp_mailserver_username }}:{{ sansible_ssmtp_mailserver_host }}:{{ sansible_ssmtp_mailserver_port }}
{% endfor %}
{% endif %}
